<!DOCTYPE html>
<html>
<head>
  <title>HackerNewsClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
    <div> <%= link_to 'home', root_path %> </div>
  <% if session[:user_id] %>
    <div> <%=  link_to 'signout', logout_path %> </div>
  <% else %>
    <div> <%= link_to 'login', login_path %> </div>
  <% end %>
</header>

<%= yield %>

</body>
</html>
