<h3>Welcome to mini Hacker News</h3>

<div>
  <% if session[:user_id] %>
    <%= link_to 'add new post', new_post_path %>
  <% end %>
</div>

<br>

<div>
  <% @posts.each_with_index do |post, index| %>
    <div>
      <%= index + 1 %>.
      <%= link_to "#{post.title} (#{post.url})", url_for(extlink(post.url)) %>
      <%= link_to find_username(post), user_path(post.user_id) %>
      <%= link_to 'show', post_path(post) %>
    </div>
  <% end %>
</div>
